<h3 data-bind="visible: results">Total Spent: £<span data-bind="text: results() ? results().totalExpenditure : null"></span></h3>
<div id="results"></div>
<div id="all-transactions-container">
    <table id="transactions-table" class="tablesorter" data-bind="visible: results()">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody data-bind="template: { name: 'transaction-template', foreach: results() ? results().transactions : null }, tablesorter: true">
        </tbody>
    </table>
</div>

<script type="text/html" id="transaction-template">
    <tr>
        <td>
            <span data-bind="text: date().format('DD-MM-YYYY')"></span>
        </td>
        <td>
            <span data-bind="text: description"></span>
        </td>
        <td>
            <span data-bind="text: category"></span>
        </td>
        <td>
            <span data-bind="text: value"></span>
        </td>
    </tr>
</script>