ul#menu 
{
    list-style-type: none;
}

.loading-marker
{
    font-style: italic;
}

.list-editor-control
{
    float: right;
    margin-left: 3px;
}

.error
{
    color: Red;
}

.inline
{
    display: inline;
}

.list-editor-control-container
{
    display: inline;
    float: right;
}

.removed
{
    text-decoration: line-through;
    color: Red;
}

.rules-container h3
{
    margin: 10px 0 5px 0;
}

#page .rules-container li.rule
{
    padding: 2px;
    background-color: #111;
}