@{
    ViewBag.Title = "Categories: Where It Goes";
    ViewBag.Scripts = new[] { 
        "~/Scripts/ViewModels/EditableViewModelBase.js",
        "~/Scripts/ViewModels/CategoriesViewModel.js"
    };
    
}

<h2>Manage Categories</h2>
<ul data-bind="template: { name: 'category-template', foreach: categories }">
    
</ul>
<span data-bind="if: loading" class="loading-marker">Loading...</span>

<script type="text/html" id="category-template">
    <li data-bind="css: { removed: removed }">
        <span data-bind="text: name, visible: !editing()"></span>
        <form data-bind="submit: commit, visible: editing">
            <input data-bind="value: name"></input>
            <a href="#" class="list-editor-control" data-bind="click: cancel">Cancel</a>
            <a href="#" class="list-editor-control" data-bind="click: commit, visible: editing() && !error()">Save</a>
        </form>
        <div data-bind="visible: !removed()">
            <a href="#" class="error-message list-editor-control" data-bind="visible: error, click: commit">Save Error - Click to Retry</a>
            <a href="#" class="list-editor-control" data-bind="click: remove, visible: !(editing() || saving() || error())">Delete</a>
            <a href="#" class="list-editor-control" data-bind="click: edit, visible: !(editing() || saving() || error())">Edit</a>
            <span data-bind="visible: saving" class="loading-marker list-editor-control">Saving...</span>
        </div>
    </li>
</script>