@{
    ViewBag.Title = "Upload Statements - Where It Goes";
    ViewBag.Scripts = new[] { 
        "~/Scripts/jquery.form.js",
        "~/Scripts/jquery.jqplot.min.js",
        "~/Scripts/plugins/jqplot.pieRenderer.min.js",
        "~/Scripts/ViewModels/AnalysisResultsViewModel.js",
        "~/Scripts/ViewModels/UploadStatementsViewModel.js"
    };
}

<h2>Upload Statements</h2>

@using(Html.BeginForm("UploadStatement", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
{
    <input type="file" name="file" id="file" />
    <input type="submit" data-bind="visible: !processing()" />
    <span data-bind="visible: processing" class="loading-marker">Processing file...</span>
    <span data-bind="visible: error">Could not upload file</span>
}

<div id="results" style="height:400px;width:800px"></div>