@{
    ViewBag.Title = "Where It Goes";
    ViewBag.Scripts = new [] { 
        "~/Scripts/jquery.jqplot.min.js",
        "~/Scripts/plugins/jqplot.pieRenderer.min.js",
        "~/Scripts/ViewModels/AnalysisResultsViewModel.js",
        "~/Scripts/ViewModels/HomeViewModel.js"
    };
    ViewBag.Styles = new [] {
        "~/Content/jquery.jqplot.min.css"
    };
}

<span class="loading-marker" data-bind="visible: loading">Loading Results...</span>
@Html.Partial("_AnalysisResults")